/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2019, 9:49:10 PM
    Author     : saman
*/
body{
    background: #ecf0f1;
}
a{
    text-decoration: none;
    color: #333;
}
.user-image{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #e74c3c;
    margin-top: 8px;
}
.navbar{
    background: #fff;
    border-radius: 0px;
    margin-top: 20px;
}
.panel-heading{
    border-bottom: 1px solid #ddd;
}
.status-box>div{
    background: #fff;
    height: 200px;
}
.status-box>div{
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
}
.status-box>div a{
    color: #fff;
    text-decoration: none;
    margin: 5px;
}
.status-box div>div{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
}
.status-box ul{
    padding: 10px;
    list-style: none;
}
.bg1 {
    background: #1abc9c;
}
.bg2{
    background: #3498db;
}
.bg3{
    background: #9b59b6;
}
.bg4{
    background: #e74c3c;
}
.bg5{
    background: #2980b9;
}
.bg6{
    background: #d35400;
}
.bg7{
    background: #7f8c8d;
}
.bg8{
    background: #2ecc71;
}
.bg9{
    background: #16a085;
}
.panel-heading span{
    font-size: 18px;
    text-transform: capitalize;
}
.panel-heading i{
    color: #3498db;
    padding: 5px;
    float: right;
    text-transform: capitalize;
}
td,th{
    text-align: center;
    text-transform: capitalize;
}
.avatar-image{
    width: 50px;
    height:50px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px !important;
}
.form-group{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.ltr{
    text-align: left!important;
    direction: ltr!important;
}
